/*Fonts*/
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

/*Global*/
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
html{
    height: 100%;
}
.page-body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #FFFFFF;
}
/*Buttons*/
.button,
.navigation-item .header-button{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation-item .header-button,
.button-details{
    background-color: #756157;
}
.button-current{
    background-color: #7DB54F;
}
/*Pages*/
/*Header*/
/*Navigation*/
.navigation{
    display: flex;
}
.navigation-logo{
    margin-left: 70px;
    margin-right: 28px;
}
.navigation-list{
    display: flex;
    flex-wrap: wrap;
    width: 430px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation-user{
    max-width: 310px;
    margin-left: auto;
}
.navigation-link{
    display: block;
    padding: 20px 16px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
}
.navigation-user .navigation-link{
    min-width: 20px;
    min-height: 20px;
}
/*Main-index*/
.main-container{
    padding-top: 51px;
    flex-grow: 1;
}
.main-index{
    background-color: #FFFFFF;
    background-image: url(../images/divider.svg), url(../images/index-background.jpg);
    background-position: 0 428px, top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.welcome-sedona{
    display: block;
    margin: 0 auto;
    margin-bottom: 82px;
}
/*Advantages*/
.advantages-intro{
    padding-top: 69px;
    padding-bottom: 69px;
    text-align: center;
}
.intro-title{
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
.intro-description{
    margin: 0 auto;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

/*Advantages List*/
.advantages-list{
    margin: 0;
    padding: 0;
    text-align: center;
}
.advantages-item{
    display: flex;
    justify-content: center;
}
.advantages-title{
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.advantages-description{
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

/*Recommendations*/
.recommendations-intro{
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}
.recommendations-intro .intro-title{
    margin-bottom: 20px;
}
.recommendations-list{
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}
.recommendations-item{
    width: 400px;
}
.recommendations-content{
    padding: 81px 85px;
}
.recommendations-title{
    margin: 102px auto 30px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.recommendations-description{
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

/*Search*/
.search{
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;
}

.search-title{
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
.search-description{
    margin: 0 auto;
    margin-bottom: 54px;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

/*Newsletter*/
.newsletter{
    padding-top: 96px;
    padding-bottom: 104px;
    text-align: center;
    color: #FFFFFF;
    background-color: #82B3D3;
    background-image: url(../images/newsletter-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.newsletter-title{
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
.newsletter-description{
    margin: 0 auto;
    margin-bottom: 54px;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
}

/*Footer*/
.page-footer{
    padding: 40px 70px 30px;
    color: #000000;
    background-color: #FFFFFF;
}
.page-footer-container{
    display: flex;
    justify-content: space-between;
}
.footer-social-list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-social-item{
    width: 47px;
    height: 40px;
}
.footer-social{
    max-width: 200px;
}
.contacts-link{
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}
.copyright{
    width: 115px;
}
/*Catalog*/
.filter-container{
    margin-bottom: 50px;
    padding-top: 35px;
    color: #FFFFFF;
    background-color: #82B3D3;
    background-image: url(../images/catalog-background.jpg);
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.inner-header{
    margin: 0 70px;
}
.inner-header-title{
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}
.breadcrumbs{
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style-type: none;
}
.breadcrumbs-link{
    font-size: 16px;
    line-height: 21px;
}
.catalog-filters{
    margin: 0 70px;
}
.catalog-filter{
    display: flex;
}
.catalog-filter-group{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 70px;
}
.catalog-filter-group:nth-child(2){
    margin-right: auto;
}
.catalog-filter-title{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}
.control-label{
    font-size: 18px;
    line-height: 23px;
}

/*Filter results*/
.filter-results{
    display: flex;
    margin: 0 70px 40px 70px;
    margin-bottom: 40px;
    color: #000000;
    background-color: #FFFFFF;
}
.filter-results-title{
    margin: 0;
    margin-right: auto;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
.select-control{
    margin-right: 70px;
    font-size: 18px;
    line-height: 21px;
    font-family: inherit;
    color: #333333;
    background-color: #FFFFFF;
}
.card-grid-toogle{
    display: block;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
}
.card-grid-toogle:not(:last-child){
    margin-right: 8px;
}
/*Product cards*/
.product-cards{
    margin: 0 70px 40px 70px;
}
.product-cards-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.product-cards-link{
    text-decoration: none;
}
.product-cards-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
}
.product-cards-status,
.product-cards-price{
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

/*Pagination*/
.pagination-container{
    margin: 0 70px 60px 70px;
    padding-top: 40px;
}
.pagination-list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.pagination-item:not(:last-child){
    margin-right: 8px;
}
.pagination-link,
.pagination-show-more{
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 12px 24px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #82B3D3;
}
.pagination-show-more{
    color: #000000;
    background-color: #FFFFFF;
}
.pagination-link-current{
    color: #000000;
    background-color: #F2F2F2;
}
/*Newsletter Inner*/
.newsletter-inner{
    margin: 0 70px;
    padding-top: 96px;
    padding-bottom: 104px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
}
.newsletter-inner .newsletter-description {
    color: #333333;
}
